@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://code.getmdl.io/1.3.0/material.indigo-pink.min.css";

.disableCaret {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
.centered {
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* body {
        display: table;
      } */
/* form {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
      } */
